Data type in Python:

1.   int
2.   float
3.   string
4.   boolean

In [ ]:
#example
var1 = 10

type(var1)

int

int: That is use store the number values

In [ ]:
#example
var1 = 25.43

type(var1)

float

float: that is use store the float value.

In [ ]:
#example
str ="Hello world"

type(str)

str

string: that is store the string value.

In [ ]:
#example

bool = True

type(bool)

bool

boolean: that is store the boolean value.

More important Data type in Python:

1. list
2. tuple
3. set
4. dict

**list**: lists are a fundamental data structure in python used to store ordered collections of items. list in python is **mutable** , meaning you can modify their contents after they are created.

*   **List's functions and methods:**

1. list(): This function is used to create a list from an iterable object (like a string, tuple, or dictionary).

2. append(): This method adds an element to the end of the list.

3. insert(index, element): This method insert an element at a  specified element from the lest.

4. remove(elevent): This method remove the first occurrence of specified element from the list.

5. pop(index): This method removes the elements at the given index from the list.

1.   for loop: you can iterate though the elements of a list using a for loop.
2.   len(list): This function return the length (number of elements) of the list.
3. sorted(list): This function returns a new sorted list, leaving the original list unchanged.
4.min(list): This function returns the smallest element in the list.
5.max(list): This function returns the largest element in the list

In [ ]:
#example of list

fruits = ["apple","banana","cherry","mango"]

fruits

['apple', 'banana', 'cherry', 'mango']

In [ ]:
#example of append function

fruits.append("papaya") # adds "papaya" to the end of the list

print(fruits)

['apple', 'banana', 'cherry', 'mango', 'papaya']

In [ ]:
# example of insert function

color = ["red","black","yellow"]

color.insert(2,"orange")

print(color)

['red', 'black', 'orange', 'yellow']

In [ ]:
# example of remove function

color = ["red","black","yellow","orange"]

color.remove("black")

print(color)

['red', 'yellow', 'orange']

In [ ]:
# example of len function

name = "satya narayan meena"

print(len(name))

19

**Tuple**: Tuple in Python are ordered, immutable collections of elements. Unlike list, you cannot change the elements of a tuple after creation.

* **Tuple's functions:**

1. tuple() function: This function is used to create a tuple.

In [ ]:
# example of tuple
# creating a tuple with various data types
my_tuple = (1,"satya",3.14)

# creating a tuple from a list
anthor_tuple = (["apple","rahul",2.56])

# creating a empty tuple
empty_tuple = ()

print(my_tuple)
print(anthor_tuple)
print(empty_tuple)

(1, 'satya', 3.14)
['apple', 'rahul', 2.56]
()

* **+** operator : if we add two tuples when use + operator.

In [ ]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)

concted_tuple = tuple1 + tuple2
print(concted_tuple)

(1, 2, 3, 4, 5, 6)

**set :** set is collections of unique elements. unlike list,they cannot contain duplicate.

In [ ]:
# example of set function
my_set = {1,"satya",2.32}

print(my_set)

{1, 2.32, 'satya'}

In [ ]:
# example of add method this method adds a new element to the set.

add_set = {"apple","banana"}

add_set.add("orange")

print(add_set)

{'orange', 'apple', 'banana'}

**dict:** dictionaries are collections of key-value pairs. they are like minidatabase that store information using unique keys to access associated value.

In [7]:
#example of dict
my_type = {"name":"satya","address":"jaipur","mobile":9887012314}

my_type

{'name': 'satya', 'address': 'jaipur', 'mobile': 9887012314}